.banner-slider .banner-image {
  height: 440px;
}
.banner-slider .banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.slick-next,
.slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 44px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #7a797985;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
}
.slick-next:hover,
.slick-prev:hover {
  background-color: #3a3a3a85;
}
.slick-prev {
  left: -1px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}
.slick-next {
  right: -1px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
